# Data Types

###  1.TEXT TYPE :-  String
###  2.NUMERICAL TYPE :-  int,float,complex
###  3.SEQUENCE TYPE :-  list,tupple,range
###  4.MAPPING TYPE :-  dict
###  5.SET TYPE :-  set,frozen set
###  6.BOOLEAN TYPE :-  bool
###  7.BINARY TYPE :-  bytes,bytearray,memory view

In [5]:
a=3
print(type(a))

<class 'int'>

In [6]:
a=5
print(type(a))

<class 'int'>

In [7]:
b=10.4
print(type(b))

<class 'float'>

In [8]:
c='abc'
print(type(c))

<class 'str'>

In [9]:
b='Data Science'
print(type(b))

<class 'str'>

In [10]:
c=10.3
print(type(c))

<class 'float'>

In [11]:
id(a)

140717084780464

In [12]:
id(b)

1798805900016

In [14]:
z=12

In [15]:
isinstance(z,int)  # return true if given variable have same data type

True

In [16]:
isinstance(z,str)

False

In [6]:
isinstance(a,str)

False

### 1. TEXT : String

Sring : 
   1. It is sequence of characters. 
   2. Strings in python are surrounded by either single quotation marks, or double quotation marks.
   3. Strings are orderd.
   4. Strings are immutable :  means that its value cannot be updated or
          we cannot delete any character present in given string

In [17]:
z='Welcome to Python class'
print(z)

a="Data Scientist"
print(a)

b='Data Scientist'
print(b)

c=""" Data Scientist"""
print(c)

Welcome to Python class
Data Scientist
Data Scientist
 Data Scientist

## How to access the string

In [24]:
my_string='Data Science'
print(len(my_string))

12

In [20]:
str1='Data Analyst'
print(str1)
print(len(str1))

Data Analyst
12

Indexing : Indexing starting from 0.
           For space also required indexing
    
    'Data Science'
     [01234567891011]
        
    D - 0 (index)
    a -1
    t -2
    a -3
      -4
    S -5
    c -6
    i -7
    e -8
    n -9
    c -10
    e -11

In [14]:
my_string[0]

'D'

In [15]:
my_string[1]

'a'

In [16]:
my_string[4]

' '

In [17]:
my_string[-1]        ## from reverse indexing staring from -1

'e'

In [18]:
my_string[-2]

'c'

In [19]:
my_string[:]      ## All string will get with the help of :

'Data Science'

In [21]:
my_string[0:4]    # Slicing

'Data'

In [22]:
my_string[:4]

'Data'

In [33]:
my_string[4:12]

' Science'

In [30]:
my_string[::-1]    # Opposite view of the string

'ecneicS ataD'

In [31]:
my_string[-12:]  # Get given string

'Data Science'

In [32]:
my_string[-12::]

'Data Science'

In [36]:
my_string[-7:-1]

'Scienc'

## How to delete string

Strings are immutable : 
1.Element of the string cannot changed once they have been assigned.

In [38]:
my_str='Welcome to Python Course'
print(my_str)
print(type(my_str))

Welcome to Python Course
<class 'str'>

In [39]:
my_str[3]

'c'

In [40]:
my_str[3]='m'

TypeError: 'str' object does not support item assignment

In [41]:
del my_str[3]

TypeError: 'str' object doesn't support item deletion

# Python String Operation

1.Concatenation : Joining of two or more string into single one is called as concatenation.
2. The + Operator is used to joing two string
3. The * Operator is udes to multiply strings

In [25]:
str1='Data'
str2='Analtics'

str3=str1+str2
print(str3)

str3=str1+" "+str2
print(str3)

DataAnaltics
Data Analtics

In [45]:
print(str1*3)

DataDataData

In [52]:
print(1,2,3,4,sep='%')

1%2%3%4

In [28]:
print('a','b',sep='$',end='%')

a$b%

In [53]:
print(1,2,3,4,sep='%',end='$')

1%2%3%4$

In [55]:
print(1,2,3,4,sep='%',end='\n')
print(1,2,3,4,sep='%',end='\n')

1%2%3%4
1%2%3%4

In [56]:
result='Data'
for i in result:
    print(i)

D
a
t
a

# Methods in string

### 1.Format

In [57]:
a='{} is captain of MI and his age is {}'
print(a.format('ROHIT',33))

ROHIT is captain of MI and his age is 33

In [58]:
print('{} is Data Scientist and her company name is {}'.format('Neha','Eton'))

Neha is Data Scientist and her company name is Eton

There are two types of arguments.
1.Positional
2.Keyword

Positional

In [61]:
print('{1} is Data Scientist and her company name is {0} and her age is {2}'.format('Neha','Eton',27))

Eton is Data Scientist and her company name is Neha and her age is 27

In [62]:
print('{2} is Data Scientist and her company name is {0} and her age is {1}'.format('Neha','Eton',27))

27 is Data Scientist and her company name is Neha and her age is Eton

Keyword

In [63]:
print('There are toatl {a} dist. in Maharashtra state and {b} is capital of Maharashtra'.format(a=36,b='Mumbai'))

There are toatl 36 dist. in Maharashtra state and Mumbai is capital of Maharashtra

In [64]:
print('There are toatl {b} dist. in Maharashtra state and {a} is capital of Maharashtra'.format(a=36,b='Mumbai'))

There are toatl Mumbai dist. in Maharashtra state and 36 is capital of Maharashtra

In [65]:
print('There are toatl {b} dist. in Maharashtra state and {b} is capital of Maharashtra'.format(a=36,b='Mumbai'))

There are toatl Mumbai dist. in Maharashtra state and Mumbai is capital of Maharashtra

## 2. Lower

In [69]:
my_string='Pune is good city'
my_string.lower()

'pune is good city'

In [70]:
a='DATA SCIENTIST'
a.lower()

'data scientist'

# 3.Upper

In [71]:
b='dATA Scientist'
b.upper()

'DATA SCIENTIST'

# 4.Capitalize

In [73]:
str1='pune IS my Fav.city'
str1.capitalize()

'Pune is my fav.city'

# 5.Count

1.Gives the count of substring from the main string.
2.The count() method returns the number of times a specified value appears in the string.
3.Syntax
  string.count(value, start, end)

In [80]:
my_string='AAaa'
my_string.count('A')

2

In [79]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

# 6.Startswith