# Data Types

###  1.TEXT TYPE :-  String
###  2.NUMERICAL TYPE :-  int,float,complex
###  3.SEQUENCE TYPE :-  list,tupple,range
###  4.MAPPING TYPE :-  dict
###  5.SET TYPE :-  set,frozen set
###  6.BOOLEAN TYPE :-  bool
###  7.BINARY TYPE :-  bytes,bytearray,memory view

In [1]:
a=3
print(type(a))

<class 'int'>

In [2]:
b='Data Science'
print(type(b))

<class 'str'>

In [3]:
c=10.3
print(type(c))

<class 'float'>

In [4]:
id(a)

1918431199536

In [5]:
isinstance(a,int)  # return true if given variable have same data type

True

In [6]:
isinstance(a,str)

False

### 1. TEXT : String

Sring : 
   1. It is sequence of characters. 
   2. Strings in python are surrounded by either single quotation marks, or double quotation marks.
   3. Strings are orderd.
   4. Strings are immutable :  means that its value cannot be updated or
          we cannot delete any character present in given string

In [12]:
z='Welcome to Python class'
print(z)

a="Data Scientist"
print(a)

b='Data Scientist'
print(b)

c=""" Data Scientist"""

Welcome to Python class
Data Scientist
Data Scientist

## How to access the string

In [13]:
my_string='Data Science'
print(len(my_string))

12

Indexing : Indexing starting from 0.
           For space also required indexing
    
    'Data Science'
     [01234567891011]
        
    D - 0 (index)
    a -1
    t -2
    a -3
      -4
    S -5
    c -6
    i -7
    e -8
    n -9
    c -10
    e -11

In [14]:
my_string[0]

'D'

In [15]:
my_string[1]

'a'

In [16]:
my_string[4]

' '

In [17]:
my_string[-1]        ## from reverse indexing staring from -1

'e'

In [18]:
my_string[-2]

'c'

In [19]:
my_string[:]      ## All string will get with the help of :

'Data Science'

In [21]:
my_string[0:4]    # Slicing

'Data'

In [22]:
my_string[:4]

'Data'

In [33]:
my_string[4:12]

' Science'

In [30]:
my_string[::-1]    # Opposite view of the string

'ecneicS ataD'

In [31]:
my_string[-12:]  # Get given string

'Data Science'

In [32]:
my_string[-12::]

'Data Science'

In [36]:
my_string[-7:-1]

'Scienc'

## How to delete string

Strings are immutable : 
1.Element of the string cannot changed once they have been assigned.

In [38]:
my_str='Welcome to Python Course'
print(my_str)
print(type(my_str))

Welcome to Python Course
<class 'str'>

In [39]:
my_str[3]

'c'

In [40]:
my_str[3]='m'

TypeError: 'str' object does not support item assignment

In [41]:
del my_str[3]

TypeError: 'str' object doesn't support item deletion

# Python String Operation

1.Concatenation : Joining of two or more string into single one is called as concatenation.
2. The + Operator is used to joing two string
3. The * Operator is udes to multiply strings

In [44]:
str1='Data'
str2='Analtics'

str3=str1+str2
print(str3)

str3=str1+" "+str2
print(str3)

DataAnaltics
Data Analtics

In [45]:
print(str1*3)

DataDataData

In [52]:
print(1,2,3,4,sep='%')

1%2%3%4

In [53]:
print(1,2,3,4,sep='%',end='$')

1%2%3%4$

In [55]:
print(1,2,3,4,sep='%',end='\n')
print(1,2,3,4,sep='%',end='\n')

1%2%3%4
1%2%3%4

In [56]:
result='Data'
for i in result:
    print(i)

D
a
t
a

# Methods in string

### 1.Format

In [57]:
a='{} is captain of MI and his age is {}'
print(a.format('ROHIT',33))

ROHIT is captain of MI and his age is 33

In [58]:
print('{} is Data Scientist and her company name is {}'.format('Neha','Eton'))

Neha is Data Scientist and her company name is Eton

There are two types of arguments.
1.Positional
2.Keyword

Positional

In [61]:
print('{1} is Data Scientist and her company name is {0} and her age is {2}'.format('Neha','Eton',27))

Eton is Data Scientist and her company name is Neha and her age is 27

In [62]:
print('{2} is Data Scientist and her company name is {0} and her age is {1}'.format('Neha','Eton',27))

27 is Data Scientist and her company name is Neha and her age is Eton

Keyword

In [63]:
print('There are toatl {a} dist. in Maharashtra state and {b} is capital of Maharashtra'.format(a=36,b='Mumbai'))

There are toatl 36 dist. in Maharashtra state and Mumbai is capital of Maharashtra

In [64]:
print('There are toatl {b} dist. in Maharashtra state and {a} is capital of Maharashtra'.format(a=36,b='Mumbai'))

There are toatl Mumbai dist. in Maharashtra state and 36 is capital of Maharashtra

In [65]:
print('There are toatl {b} dist. in Maharashtra state and {b} is capital of Maharashtra'.format(a=36,b='Mumbai'))

There are toatl Mumbai dist. in Maharashtra state and Mumbai is capital of Maharashtra

## 2. Lower

In [69]:
my_string='Pune is good city'
my_string.lower()

'pune is good city'

In [70]:
a='DATA SCIENTIST'
a.lower()

'data scientist'

# 3.Upper

In [71]:
b='dATA Scientist'
b.upper()

'DATA SCIENTIST'

# 4.Capitalize

In [73]:
str1='pune IS my Fav.city'
str1.capitalize()

'Pune is my fav.city'

# 5.Count

1.Gives the count of substring from the main string.
2.The count() method returns the number of times a specified value appears in the string.
3.Syntax
  string.count(value, start, end)

In [80]:
my_string='AAaa'
my_string.count('A')

2

In [79]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

# 6.find()

find method returns the index of first occurance of the substring(If found) and if not found then returns -1

In [2]:
sample_string_2= "the best captain of India is MS Dhoni"

In [3]:
sample_string_2.find("t")

0

In [4]:
sample_string_2.find("a")

10

In [5]:
sample_string_2.rfind("a")   # Reverse String

24

# 7.Index

 If sub string not found then it will rasie error exception

In [6]:
sample_string_2= "the best captain of India is MS Dhoni best"

In [7]:
sample_string_2.index("a")

10

In [8]:
sample_string_2.index("z")

ValueError: substring not found

In [9]:
sample_string_2.rindex("best")

38

# 8.Startswith()

this method returns True if the substring starts with that suffix

In [10]:
website_name="www.instagram.com"

In [11]:
website_name.startswith("www")

True

In [12]:
website_name.startswith("wwd")

False

In [13]:
V_no="MH-12, CZ0007"

V_no.startswith("MH")

True

# 9.Endswith

this method returns True if the substring ends with that suffix

In [14]:
website_name="www.instagram.com"

In [15]:
website_name.endswith(".com")

True

In [16]:
website_name.endswith(".co")

False

In [17]:
email="xyz@tcs.com"

email.endswith("@ts.com")

False

# 8.Center()

In [25]:
captain="Virat"

In [32]:
a=captain.center(10,'*')
print(a)
print(len(a))

**Virat***
10

In [35]:
b=captain.center(30,'*')
print(b)
print(len(b))

************Virat*************
30

In [21]:
print(a)

************Virat*************

In [22]:
print(len(a))

30

# 9.islower()

In [36]:
a='data scientist'
a.islower()

True

In [42]:
my_string='MUMBAi is capital of maharashtra'
my_string.islower()

False

# 10.isupper()

In [37]:
a='Data Analyst'
a.isupper()

False

In [38]:
a='DATA SCIENTIST'
a.isupper()

True

### 11.isalnum

In [39]:
a='DATA SCIENTIST'

In [40]:
a.isalnum()

False

In [49]:
str1='123Data'    # spacing and special charaters are also not allowed.

In [50]:
str1.isalnum()

True

# 12 isspace

In [51]:
my_str1=' '
my_str1.isspace()

True

In [52]:
my_str1=''
my_str1.isspace()

False

In [53]:
my_str2='acb'
my_str2.isspace()

False

In [54]:
s='abc '
s.isspace()

False

In [55]:
a='data123'

In [56]:
a.isprintable()

True

In [57]:
b='data123$'
a.isprintable()

True

In [61]:
c='data\t123'        #\t -t
print(c)
c.isprintable()

data	123

False

In [62]:
d='data\n1234'   # \n -next line.
print(d)
d.isprintable()

data
1234

False

# Split

This method breaks up a string at specfic spearator annd returns a list of strings

default separator as "space"

The split() method breaks up a string at the specified separator and returns a list of strings.

split() method takes a maximum of 2 parameters:

separator (optional)- It is a delimiter. The string splits at the specified separator.

If the separator is not specified, any whitespace (space, newline etc.) string is a separator.

maxsplit (optional) - The maxsplit defines the maximum number of splits.

In [69]:
new_captain="Rohit will be the new captain of India"  # split function is used to convert string into list
print(new_captain)
new_captain.split()

Rohit will be the new captain of India

['Rohit', 'will', 'be', 'the', 'new', 'captain', 'of', 'India']

In [73]:
a='Python is easy to code'
b=a.split()
print(b)
print(type(a))
print(type(b))

['Python', 'is', 'easy', 'to', 'code']
<class 'str'>
<class 'list'>

# splitline

In [75]:
our_grocery="Milk\nrice\nbread"
print(our_grocery)

Milk
rice
bread

In [77]:
our_grocery1="Milk\nChicken\nbread"
our_grocery1.splitlines()

['Milk', 'Chicken', 'bread']

# strip

The strip() method returns a copy of the string by removing both the leading and the trailing characters (based on the string argument passed).

The strip() method removes characters from both left and right based on the argument (a string specifying the set of characters to be removed).

The syntax of the strip() method is:

strip() Parameters
chars (optional) - a string specifying the set of characters to be removed from the left and right part of the string.

If the chars argument is not provided, all leading and trailing whitespaces are removed from the string.

Return Value from the strip() method

strip() returns a copy of the string with both leading and trailing characters stripped.

In [80]:
name="                  Rohit                 "
print(name)
print(len(name))

                  Rohit
40

In [84]:
b=name.strip()
print(b)
print(len(b))

Rohit
5

# Partition  : use to convert string into tupple

Partion coverts string into tupple.

The partition() method splits the string at the first occurrence of the argument string and returns a tuple containing the part the before separator, argument string and the part after the separator.

The partition() method takes a string parameter separator that separates the string at the first occurrence of it.

Return Value from partition()

The partition method returns a 3-tuple containing:

the part before the separator, separator parameter, and the part after the separator if the separator parameter is found in the string

the string itself and two empty strings if the separator parameter is not found

In [89]:
my_string='Python is easy to code'
a=my_string.partition('is')
print(a)
print(type(a))

('Python ', 'is', ' easy to code')
<class 'tuple'>

In [ ]:
'anb '---- string
[ 'a','b']---list
('c','d' )---tupple

# Join ()

join() method iterable data into string

The join() string method returns a string by joining all the elements of an iterable, separated by a string separator.

The join() method provides a flexible way to create strings from iterable objects. It joins each element of an iterable (such as list, string, and tuple) by a string separator (the string on which the join() method is called) and returns the concatenated string

Parameters for the join() method

The join() method takes an iterable (objects capable of returning its members one at a time) as its parameter.

Some of the example of iterables are:

Native data types - List, Tuple, String, Dictionary and Set.

​

In [100]:
list1=['python','is','easy','to','code']
print(list1)
print(type(list1))
b=" ".join(list1)
print(b)
print(type(b))

['python', 'is', 'easy', 'to', 'code']
<class 'list'>
python is easy to code
<class 'str'>

In [101]:
ist1=['python','is','easy','to','code']

" ".join(list1)

'python is easy to code'

In [102]:
# Replace

In [105]:
cricket='Dhoni is capt. of India'
cricket.replace('Dhoni','Virat')

'Virat is capt. of India'

In [103]:
# swapcase

In [104]:
a='SHE is DAta Scientist'
a.swapcase()

'she IS daTA sCIENTIST'