Set:
1.It is collection of heterogenous object(containing fifferent data type.e.g complex,float,char etc)
2.Set is unordered data type.
3.Duplicate values are not allowed.
4.Indexing is not possible in set

In [3]:
set1={1,2,3,4}
print(set1)
print(type(set1))

{1, 2, 3, 4}
<class 'set'>

In [6]:
set2={1,'python',2+3j,10.6}
print(type(set2))
print(set2)

<class 'set'>
{1, 10.6, (2+3j), 'python'}

In [7]:
set3={1,1,3,3,3,6,7}
print(set3)

{1, 3, 6, 7}

In [8]:
set3={1,1,3,3,3,6,7}
set3[1]

TypeError: 'set' object is not subscriptable

### Methods of Sets

### 1.Add()
Adding single element

In [11]:
set4={1,3,5,7}
set4.add(9)
print(set4)
print(set4)

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}

### 2.Len()

In [12]:
len(set4)

5

### 3.Update() 
update function is used to new set into old set

In [14]:
a={'a','b','Python'}
b={1,2,3}

a.update(b)
print(a)

{1, 'b', 2, 3, 'Python', 'a'}

In [21]:
set1={'Python',1,10.7}
print(set1)
set2={3,7,11.8}
print(set2)
set1.update(set2)
print('Updated value of the set:',set1)

{1, 'Python', 10.7}
{3, 11.8, 7}
Updated value of the set: {1, 10.7, 3, 7, 'Python', 11.8}

### 4.Union

In [24]:
a={1,2,4}
c={7,9,10}

a.union(c)

{1, 2, 4, 7, 9, 10}

In [25]:
set3={'DA','DS',1,10.7}
set4={1,6,7,10.7}

set3.union(set4)

{1, 10.7, 6, 7, 'DA', 'DS'}

### 5.Intersection
taking common element from the two sets

In [30]:
set6={1,3,6,8}
set7={1,5,7,10,11}

set6.intersection(set7)

{1}

In [31]:
set6={1,3,6,8,'DA'}
set7={1,5,7,10,11,'DA'}

set6.intersection(set7)

{1, 'DA'}

### 5.Pop()
deleate any element from the set

In [32]:
new_set={11,17,10,'Python'}
new_set.pop()
new_set

{10, 11, 'Python'}

### 6.Remove()

In [39]:
data={11,45,66,77,89}
data.remove(11)
data

{45, 66, 77, 89}

### 7.Copy()

In [43]:
data={11,45,66,77,89}
data1=data.copy()
print(data1)

{66, 77, 89, 11, 45}

### 8.Clear()

In [44]:
data.clear()

In [45]:
data

set()

In [46]:
set1={'MI','CSK','GT'}
print(set1)
set1.clear()
print(set1)

{'CSK', 'GT', 'MI'}
set()