**LOOP**
IF

In [7]:
a=int(input())

if a>0:
  print('this is a positive element ')
else:
    print('negative')

1
this is a positive element

if  elif

In [8]:
tempra=int(input())
tempb=int(input())
temprc=int(input())
if tempra>tempb:
  print('temprature of a is greater than b')
elif tempb >temprc:
  print('temprture b is greater than c')
else :
  print('all temp are diff')

50
40
30
temprature of a is greater than b

In [15]:
a=int(input())
if a%2:
  print('num is odd')
else:
  print('num is even')

2
num is even

for loop

In [1]:
o=[1,2,3,4,5]
for i in o:
  print(i)

1
2
3
4
5

In [2]:
k='i am sachit'
for i in k:
  print(i)

i

a
m

s
a
c
h
i
t

In [4]:
l=('or','i','he')
for i in l:
  print(l)

('or', 'i', 'he')
('or', 'i', 'he')
('or', 'i', 'he')

In [39]:
p=[2,3,4,5,6,7]
a=2
for i in p:
  a= (2*i+a/a)
print(a)

15.0

In [28]:
k=[2,3,4,5,6,7]
w=0
for i in k:
  w= (w-i)
print(w)

-27

In [34]:
l=[2,3,4,5]
k=3
for i in l:
  k=(i/k)
  print(k)

0.6666666666666666
4.5
0.8888888888888888
5.625

In [43]:
o=['hi','hello',1.8,2,3]
for i in o:

    print(type(i))

<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'int'>

In [2]:
i = 20
for i in range(20,45, 3):
  print( i )

20
23
26
29
32
35
38
41
44

while loop

In [4]:
d=int(input('enter number'))
while d<60:
  print(d)
  d=d*2
  if d==32:
    break

enter number2
2
4
8
16

In [ ]:
n=int(input('enter number'))
while n<60:
  #print(n)
 
  if n==32:
    continue
    print(n)
    n=n*1

enter number2

In [ ]:
np=09
pass